*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bgimg {
    background: url("img/sampleimg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1 {
    font-size: 3em;
    letter-spacing: 30px;
    font-weight: 100;
    font-family: cursive;
    font-weight: bold;
}

#demo {
    font-weight: lighter;
    word-spacing: 20px;
    font-family: cursive;
}

hr {
    margin: auto;
    width: 80%;
    border: 1.5px solid #fff;
}